<a href="https://colab.research.google.com/github/ShahnawazKakarh/roadmap-to-data-science/blob/master/python/03-String_Cntd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **String Comparision**

In [ ]:
string1 = "banana"
string2 = "apple"

print(string1 == string2) ## Equal to
print(string1 != string2) ## Not equal to
print(string1 < string2) ## Less than
print(string1 > string2) ## Greater than
print(string1 <= string2) ## Less than or equal to
print(string1 >= string2) ## Greater than or equal to

False
True
False
True
False
True

In [ ]:
ord('a')

97

In [ ]:
ord('b')

98

In [ ]:
"cat" < "catalog"

True

In [ ]:
ord('Z')

90

In [ ]:
"Zebra" < "Apple"

False

# **Replace in String**

In [ ]:
original_string = "Hello, world!"

## Replace "world" with "Python"
new_string = original_string.replace("world", "Python")
print(new_string)

Hello, Python!

# **Split() in String**

In [ ]:
sentence = "This is a very interesting session"
words = sentence.split()
print(words)

['This', 'is', 'a', 'very', 'interesting', 'session']

In [ ]:
names = "Shahnawaz, Ali, Usman, Ayesha, Maham, Shiza, Junaid"
names_list = names.split(',')
print(names_list)

['Shahnawaz', ' Ali', ' Usman', ' Ayesha', ' Maham', ' Shiza', ' Junaid']

In [ ]:
string = "Hello-World"
print(string.split("-"))

['Hello', 'World']

In [ ]:
string = "HelloWorld"
print(string.split("-"))

['HelloWorld']

# **Formatting of the String**

In [ ]:
age = 30
text = ("My name is Shahnawaz, I am " + age)
print(text)

TypeError: can only concatenate str (not "int") to str

In [ ]:
age = 30
text = f"My name is Shahnawaz, I am {age} years old"
print(text)

My name is Shahnawaz, I am 30 years old

# **strip() -> removes any whitespace from the beginning or the end.**

In [ ]:
text = "      Hello, Python Developers!    "
stripped_text = text.strip()
print(stripped_text)

Hello, Python Developers!

# **index() -> returns ValueError if the substring is not present in the main string**

In [ ]:
string = "Hello, World!"
index = string.index("World")
print(index)

7

In [ ]:
string = "Hello, World!"
index = string.index("Python")
print(index)

ValueError: substring not found

# **find() -> returns -1 if the substring is not present in the main string**

In [ ]:
string = "Hello, World!"
find_string = string.find("World")
print(find_string)

7

In [ ]:
string = "Hello, World!"
find_string = string.find("Python")
print(find_string)

-1

# **count() -> returns the count of substring which we check, that how many time it is repeated**

In [ ]:
string = "This is a sample answer"
count_string = string.count("is")
print(count_string)

2

# **isalpha() -> will check that does string contains all alphabets only**

In [ ]:
text1 = "Hello"
text2 = "Hello123"
print(text1.isalpha())
print(text2.isalpha())

True
False

# **isupper() -> verifys if the provided string contains upper case**

In [ ]:
string = "This is a sample answer"
string.isupper()

False

# **islower() -> verifys if the provided string contains lower case**

In [ ]:
string = "HELLO WORLD"
string.islower()

False

# **isdigit() -> verifys if the provided string contains numbers/digits**

In [ ]:
string1 = '1234'
string1.isdigit()

True

In [ ]:
string2 = 'ABC'
string2.isdigit()

False

# **swapcase() -> it will convert lower case to upper case and vice versa**

In [ ]:
text = "Hello World! 1234"
swapped_text = text.swapcase()
print(swapped_text)

hELLO wORLD! 1234