<a href="https://colab.research.google.com/github/ShahnawazKakarh/roadmap-to-data-science/blob/master/python/04_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Structure -> to organise and store the data in efficient way**

In [ ]:
list1 = [] ## empty list
list2 = [1, 2 ,3] ## list of integers
list3 = [1, 'one', 2, 'two', 3, 'three'] ## list with mixed data types

In [ ]:
type(list3)

list

# **Nested List**

In [ ]:
list4 = ["one", [1,2,3,4], [4,5,6,7], "two"]
list4

['one', [1, 2, 3, 4], [4, 5, 6, 7], 'two']

In [ ]:
list4[1]

[1, 2, 3, 4]

In [ ]:
list4[1][1]

2

In [ ]:
list4[2][2]

6

# **Slicing**

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e']
print(letters[-3:-1])

['c', 'd']

In [ ]:
print(letters[-1:-3]) ## LEFT TO RIGHT
# Start: -1 ('e')
# End: -3 ('c')
# Default step = +1 (forward).

[]

In [ ]:
print(letters[-1:-3:-1])
# Start: -1 ('e')
# End: -3 ('c')
# Default step = -1 (backward).

['e', 'd']

# **max() -> maximum element return**
# **min() -> minimum element return**
# **sum() -> sum of the elements**

In [ ]:
my_list = [10, 25, 5, 60, 15, True, False]
max_element = max(my_list)
min_element = min(my_list)
sum_element = sum(my_list)
print(max_element)
print(min_element)
print(sum_element)

60
False
116

In [ ]:
strings = ["abc", "abd", "abe"]
min_string = min(strings)
max_string = max(strings)

## as we remember that we can find ascii code via
print(ord('c'))  # 99
print(ord('d'))  # 100
print(ord('e'))  # 101

## so, c has lowest and e has highest value.

print(min_string)
print(max_string)

99
100
101
abc
abe

# **Reason: Why we say List is mutable, here is it**

In [ ]:
my_list

[10, 25, 5, 60, 15, True, False]

In [ ]:
my_list[3] = 65

In [ ]:
my_list

[10, 25, 5, 65, 15, True, False]

# **repeat/replicate list**

In [ ]:
my_list*3

[10,
 25,
 5,
 65,
 15,
 True,
 False,
 10,
 25,
 5,
 65,
 15,
 True,
 False,
 10,
 25,
 5,
 65,
 15,
 True,
 False]

In [ ]:
my_list

[10, 25, 5, 65, 15, True, False]

# **In built functions of list**

Append Function

In [ ]:
## append function
the_list = [10, 25, 5, 65, 75, True, False]

In [ ]:
the_list.append(88)

In [ ]:
the_list

[10, 25, 5, 65, 75, True, False, 88]

Extend Function

l1.extend(l2) -> modifies l1 in-place

It does not return anything -- its return value is None

In [ ]:
l1 = [1, 2, 3, 4]
l2 = [5, 6, 7, 8]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
l1.append([5, 6, 7, 8])
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, [5, 6, 7, 8]]

In [ ]:
l1.append(5, 6, 7, 8)
print(l1)

TypeError: list.append() takes exactly one argument (4 given)

Insert Function - > insert(index, data)

In [ ]:
my_list

[10, 25, 5, 65, 15, True, False]

In [ ]:
my_list.insert(0, 5)
print(my_list)

[5, 10, 25, 5, 65, 15, True, False]

In [ ]:
my_list.insert(2, 20)
print(my_list)

[5, 10, 20, 25, 5, 65, 15, True, False]

'+' Operator

In [ ]:
list1 = ['apple', 'banana']
list2 = ['cherry', 'date']
new_list = list1 + list2
print(new_list)

['apple', 'banana', 'cherry', 'date']

Difference between extend vs '+' operator in lists

In [ ]:
a = [1, 2]
a.extend((3, 4))
print(a)

[1, 2, 3, 4]

In [ ]:
a + (3, 4) ## type should be same list and tuple can't combine

TypeError: can only concatenate list (not "tuple") to list

Comparison Of Lists

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

print(list1 == list2)

False

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

print(list1 != list2)

True

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

print(list1 > list2) # Greater
print(list1 < list2) # Smaller

False
True

In [ ]:
my_list

[5, 10, 20, 25, 5, 65, 15, True, False]

remove()

In [ ]:
my_list.append(20)
print(my_list)

[5, 10, 20, 25, 5, 65, 15, True, False, 20]

In [ ]:
my_list.remove(20)
print(my_list)

[5, 10, 25, 5, 65, 15, True, False]

pop() -> remove element from the specific mentioned index

In [ ]:
my_list

[5, 10, 25, 5, 65, 15, True, False]

In [ ]:
my_list.pop(1)
print(my_list)

[5, 25, 5, 65, 15, True, False]

In [ ]:
popped_element = my_list.pop(2)
print(popped_element)
print(my_list)

5
[5, 25, 65, 15, True, False]

del Statement

In [ ]:
my_list

[5, 25, 65, 15, True, False]

In [ ]:
del my_list[1]
print(my_list)

[5, 65, 15, True, False]

In [ ]:
del my_list
print(my_list)

NameError: name 'my_list' is not defined

clear() -> clear the list

In [ ]:
list4

['one', [1, 2, 3, 4], [4, 5, 6, 7], 'two']

In [ ]:
list4.clear()
print(list4)

[]

Sorting list

In [ ]:
my_list = [3, 1, 4, 7, 8, 12, 0, 13, 16, 11]
my_list.sort()
print(my_list)

[0, 1, 3, 4, 7, 8, 11, 12, 13, 16]

In [ ]:
my_list = [3, 1, 4, 7, 8, 12, 0, 13, 16, 11]
my_list.sort(reverse=True)
print(my_list)

[16, 13, 12, 11, 8, 7, 4, 3, 1, 0]

count()

In [ ]:
count_element = my_list.count(16)
print(count_element)

1

In [ ]:
index = my_list.index(4)
print(index)

6

In [ ]:
my_list.reverse()
print(my_list)

[0, 1, 3, 4, 7, 8, 11, 12, 13, 16]

join()

In [ ]:
words = ["Hello", "How", "are", "you"]
result = " ".join(words)
print(result)

Hello How are you