<a href="https://colab.research.google.com/github/ShahnawazKakarh/roadmap-to-data-science/blob/master/python/05_Data_Structures_Contd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Initialization of Tuple**

In [ ]:
my_tuple = (1, 2, 3)
type(my_tuple)

tuple

In [ ]:
my_tuple[1]

2

Access the elements and Slicing Operations

In [ ]:
tuple1 = ('apple', 123, True, 3.14, [1, 2, 3])
print(tuple1[-1][1])

2

In [ ]:
print(tuple1[-1][-2])

2

In [ ]:
print(tuple1[-3][2])

TypeError: 'bool' object is not subscriptable

In [ ]:
print(tuple1[-5][2])

p

In [ ]:
print(tuple1[0][-2])

l

In [ ]:
print(tuple1[1:4])

(123, True, 3.14)

In [ ]:
print(tuple1[:-1])

('apple', 123, True, 3.14)

In [ ]:
print(tuple1[1:])

(123, True, 3.14, [1, 2, 3])

In [ ]:
print(tuple1[::-1]) ## reverse the string, no start/end index directly step size -1 is mentioned.

([1, 2, 3], 3.14, True, 123, 'apple')

In [ ]:
min_element = min(my_tuple)
max_element = max(my_tuple)
print(min_element)
print(max_element)

1
3

In [ ]:
my_tuple

(1, 2, 3)

In [ ]:
sum_elements = sum(my_tuple)
print(sum_elements)

6

Convert tuple into a list

In [ ]:
tuple2 = ('Ghilman', 'Ali', 'Junaid', 'Ajmal', 'Shahnawaz')
list1 = list(tuple2)
print(list1)

['Ghilman', 'Ali', 'Junaid', 'Ajmal', 'Shahnawaz']

In [ ]:
list1.append("Sushil", "Jitender", "Priya")
print(list1)

TypeError: list.append() takes exactly one argument (3 given)

In [ ]:
list1.append(["Sushil", "Jitender", "Priya"])
print(list1)

['Ghilman', 'Ali', 'Junaid', 'Ajmal', 'Shahnawaz', ['Sushil', 'Jitender', 'Priya']]

In [ ]:
list1.extend(["Sushil", "Jitender", "Priya"])
print(list1)

['Ghilman', 'Ali', 'Junaid', 'Ajmal', 'Shahnawaz', ['Sushil', 'Jitender', 'Priya'], 'Sushil', 'Jitender', 'Priya']

In [ ]:
list1.pop(5)
print(list1)

['Ghilman', 'Ali', 'Junaid', 'Ajmal', 'Shahnawaz', 'Sushil', 'Jitender', 'Priya']

In [ ]:
tuple2 = tuple(list1)
print(tuple2)

('Ghilman', 'Ali', 'Junaid', 'Ajmal', 'Shahnawaz', 'Sushil', 'Jitender', 'Priya')

Built-in Functions

In [ ]:
tuple3 = (1, 2, 3, 4, 5, 3, 7, 8, 11, 12, 9, 2)
## frequency of any given element
count_2 = tuple3.count(2)
print(count_2)

2

In [ ]:
pos = tuple3.index(2)
print(pos)

1

In [ ]:
pos = tuple3.index(20)
print(pos)

ValueError: tuple.index(x): x not in tuple

In [ ]:
pos = tuple3.index(9)
print(pos)

10

In [ ]:
tuple4 = (2, ) ## tuple must contains one element segreggated with ','
print(tuple4)
type(tuple4)

(2,)

tuple

In [ ]:
tup = (1)
list1 = [1]
type(tup)

int

In [ ]:
my_tuple

(1, 2, 3)

Unpacking in tuple

In [ ]:
a, b, c = my_tuple
print(a)
print(b)
print(c)

1
2
3

In [ ]:
my_tuple1 = (1, 2, 3, 4, 5, 6, 7, 8)
a, *b, c = my_tuple1
print(a)
print(b)
print(c)

1
[2, 3, 4, 5, 6, 7]
8

In [ ]:
my_tuple1 = (1, 2, 3, 4, 5, 6, 7, 8)
a, b, c = my_tuple1
print(a)
print(b)
print(c)

ValueError: too many values to unpack (expected 3)

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 3, 'a', 'b', 'c')

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (7, )

combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 3, 7)

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (7)

combined_tuple = tuple1 + tuple2
print(combined_tuple)

TypeError: can only concatenate tuple (not "int") to tuple

In [ ]:
## this is not tuple
tuple2 = (7)
type(tuple2)

int

In [ ]:
tuple2 = (7, )
type(tuple2)

tuple

In [ ]:
list1 = [1]
print(list1)
type(list1)

[1]

list

# **Sets** -> Unordered, mutable, duplicates are not allowed, unindexed

In [ ]:
set1 = set() ## Empty set
set2 = {1, 2, 3}
set3 = {1, "One", 3.4}

In [ ]:
print(set3)

{1, 3.4, 'One'}

In [ ]:
type(set3)

set

In [ ]:
set4 = {1, 2, 3, 4, 2, 3, 3, 2, 4, 4, 3, 2}
print(set4)

{1, 2, 3, 4}

Note: Sets in Python do not require a comma after a single element

In [ ]:
single_element_set = {42}
print(single_element_set)

{42}

In [ ]:
type(single_element_set)

set

In [ ]:
my_string = "hello"
my_set = set(my_string)
print(my_set)

{'o', 'h', 'l', 'e'}

In [ ]:
my_set

{'e', 'h', 'l', 'o'}

In [ ]:
my_set = {['a', 'b', 'c']}
print(my_set)

TypeError: unhashable type: 'list'

Find any element in Set

In [ ]:
print('e' in my_set)

True

In [ ]:
len(my_set)

4

Built in Functions:

min(), max(), sum

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

min_set1 = min(set1)
min_set2 = min(set2)

print(min_set1)
print(min_set2)

max_set1 = max(set1)
max_set2 = max(set2)

print(max_set1)
print(max_set2)

sum_set1 = sum(set1)
sum_set2 = sum(set2)

print(sum_set1)
print(sum_set2)

1
3
3
5
6
12

In [ ]:
my_set = {1, 2, 3, 4, 5, 6, 7}

In [ ]:
my_set

{1, 2, 3, 4, 5, 6, 7}

ADD

In [ ]:
my_set.add(9)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 9}

If we want to add more than one integers we can use update()

In [ ]:
my_set.update([9, 2, 5])
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 9}

In [ ]:
my_set.update(9, 2, 5) ## ([9, 2, 5]) ## [] are missing
print(my_set)

TypeError: 'int' object is not iterable

pop(), del()

In [ ]:
set5 = {1, 2, 4, 5}
set5.pop()
print(set5)

{2, 4, 5}

In [ ]:
set5.add(1)
print(set5)

{1, 2, 4, 5}

Join Sets

Union:

In [ ]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
union_set = set1.union(set2)  ## set1|set2
print(union_set)

{1, 2, 3, 4, 5, 6}

Intersection

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 5, 6}

intersection_set = set1 & set2  ## set1.intersection(set2)
print(intersection_set)

{3}

Difference

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 5, 6}

difference_set = set1 - set2
print(difference_set)

{1, 2}

Symmetric Difference

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 5, 6}

symmetric_difference = set1.symmetric_difference(set2)  ## set1 ^ set2
## common value is taken out and rest is printed
print(symmetric_difference)

{1, 2, 5, 6}

Task: to explore and give me the difference between the above methods vs the _update() methods in the set.

difference_update()

intersection_update() and so on

Task: Merge the below two tuples and then remove the duplicate values and return the final output as a tuple.

tup1 = (1, 2, 3)

tup2 = (3, 4, 5)

In [ ]:
## function definition
def merge_and_remove_duplicates(tup1, tup2):
  return tuple(set(tup1).union(tup2))

## driver code
tup1 = (1, 2, 3)
tup2 = (3, 4, 5)

## function calling
print(merge_and_remove_duplicates(tup1, tup2))

(1, 2, 3, 4, 5)

In [ ]:
# Step 1: Merge tuples
merged = tup1 + tup2     # (1, 2, 3, 3, 4, 5)

# Step 2: Convert to set to remove duplicates
unique = set(merged)     # {1, 2, 3, 4, 5}

# Step 3: Convert back to tuple
final_tuple = tuple(unique)
print(final_tuple)       # (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

# **Dictionaries in Python**

In [ ]:
my_dict = {"name": "Shahnawaz Khan", "age": 27, "salary": 40000, "city": "Lahore", "location": "Gulberg 3"}
print(my_dict)

{'name': 'Shahnawaz Khan', 'age': 27, 'salary': 40000, 'city': 'Lahore', 'location': 'Gulberg 3'}

In [ ]:
my_dict['salary']

40000

In [ ]:
scores = {'Alice':85, "Bob":76, "Charlie":56, "David":78, "Eve":90}
print(scores)

{'Alice': 85, 'Bob': 76, 'Charlie': 56, 'David': 78, 'Eve': 90}

In [ ]:
scores['Charlie']

56

In [ ]:
min_score = min(scores.values())
print(min_score)

56

In [ ]:
max_score = max(scores.values())
print(max_score)

90

Built-in methods

In [ ]:
print(my_dict.keys())

dict_keys(['name', 'age', 'salary', 'city', 'location'])

In [ ]:
print(my_dict.values())

dict_values(['Shahnawaz Khan', 27, 40000, 'Lahore', 'Gulberg 3'])

In [ ]:
print(my_dict.items())

dict_items([('name', 'Shahnawaz Khan'), ('age', 27), ('salary', 40000), ('city', 'Lahore'), ('location', 'Gulberg 3')])

Add new "key:value" pairs in the dictionary

In [ ]:
my_dict

{'name': 'Shahnawaz Khan',
 'age': 27,
 'salary': 40000,
 'city': 'Lahore',
 'location': 'Gulberg 3'}

In [ ]:
my_dict['position'] = 'Data Scientist'
my_dict['company'] = 'KAKS LTD'
print(my_dict)

{'name': 'Shahnawaz Khan', 'age': 27, 'salary': 40000, 'city': 'Lahore', 'location': 'Gulberg 3', 'position': 'Data Scientist', 'company': 'KAKS LTD'}

Update salary and city

In [ ]:
my_dict.update({'salary':50000, 'city':'Karachi'})
print(my_dict)

{'name': 'Shahnawaz Khan', 'age': 27, 'salary': 50000, 'city': 'Karachi', 'location': 'Gulberg 3', 'position': 'Data Scientist', 'company': 'KAKS LTD'}

Delete the location key: value pair

In [ ]:
del my_dict['location']
print(my_dict)

{'name': 'Shahnawaz Khan', 'age': 27, 'salary': 50000, 'city': 'Karachi', 'position': 'Data Scientist', 'company': 'KAKS LTD'}

Task: Check if all the elements in the list are unique or not?

list1 = [1, 2, 3, 4, 2]

Output: False

In [ ]:
def all_unique(lst):
    return len(lst) == len(set(lst))

# Example
list1 = [1, 2, 3, 4, 2]
print(all_unique(list1))   # False

list2 = [1, 2, 3, 4, 5]
print(all_unique(list2))

False
True

Task: Count of occurence of each element in a list.

lst = ['a', 'b', 'a', 'b', 'c', 'a']

Output: {'a':3, 'b':2, 'c':1}

In [ ]:
lst = ['a', 'b', 'a', 'b', 'c', 'a']
count_dict = {}

for item in lst:
    count_dict[item] = count_dict.get(item, 0) + 1

print(count_dict)   # {'a': 3, 'b': 2, 'c': 1}

## ## ## ## ## ## OR ## ## ## ## ## ##
lst = ['a', 'b', 'a', 'b', 'c', 'a']
output = {}

for item in lst:
    if item in output:
       ## increment of the count value
        output[item] += 1
    else:
        output[item] = 1

print(output)

{'a': 3, 'b': 2, 'c': 1}
{'a': 3, 'b': 2, 'c': 1}

Swap key and values in a dictionary

dict1 = {'a':1, 'b':2, 'c':3}

Output: {1: 'a', 2:'b', 3:'c'}

In [ ]:
dict1 = {'a': 1, 'b': 2, 'c': 3}

## Dictionary comprehensions
swapped = {value: key for key, value in dict1.items()}

print(swapped)

{1: 'a', 2: 'b', 3: 'c'}