<a href="https://colab.research.google.com/github/ShahnawazKakarh/roadmap-to-data-science/blob/master/python/06_ConditionalStatements_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Conditional Statements**

In [ ]:
x = 100

if x > 0: ## Greater than
  print("x is positive")
else:
  print("x is not positive")

x is positive

In [ ]:
x = -10

if x > 0: ## Greater than
  print("x is positive")
else:
  print("x is not positive")

x is not positive

In [ ]:
x = 100

if x > 0:
  print("x is positive")

print("This is outside the if block")

x is positive
This is outside the if block

In [ ]:
x = -10

if x > 0:
  print("x is positive")

print("This is outside the if block")

This is outside the if block

In [ ]:
def multiple_of_2(num):
  if(num%2 == 0):
     print("Multiple of two")
  else:
    print("Not a multiple of 2")

num = int(input("Enter a number: "))
multiple_of_2(num)

Enter a number: 23
Not a multiple of 2

**Given a number, verify that the number is a multiple of 2 or not?**

In [ ]:
user_input = int(input("Enter a number: "))

## condition to check whether a number is a multiple of 2 or not
if user_input % 2 == 0:
  print("The number is a multiple of 2")
else:
  print("The number is not a multiple of 2")

Enter a number: 2
The number is a multiple of 2

KEY is present in the dict or not

In [ ]:
my_dict = {'a':1, 'b':2, 'c':3}

## key to check
key_to_check = 'd'

if key_to_check in my_dict:
  print("Key is present in the dictionary")
else:
  print("Key is not present in the dictionary")

Key is not present in the dictionary

In [ ]:
a = 80
b = 60
c = 40

if a > b and a > c:
  print('a is greater than b and c')

elif b > a and b > c:
  print('b is greater than a and c')

elif c > a and c > b:
  print('c is greater than a and b')

else:
  print('None of the above conditions are met')

a is greater than b and c

**Nested Conditional Statements**

In [ ]:
x = 10
y = 5

## Nested if
if x > 0:
  print('x is positive')

  if y > 0:
    print('y is positive')

x is positive
y is positive

In [ ]:
x = 10
y = 5

## Nested if with independent blocks
## Conditions are independent to each other
if x > 0:
  print('x is positive')
if y > 0:
  print('y is positive')
else:
  print("none is positive")

x is positive
y is positive

In [ ]:
age = 15
income = 5000

if age >= 18:
  print("You are eligible to vote.")
  if income >= 30000:
    print("You are eligible to apply for a credit card")
  elif income >= 20000:
    print("You are eligible to apply for a personal loan")
  else:
    print("You are eligible to open a savings account")

else:
  print("You are not eligible to vote.")

You are not eligible to vote.

Shorthand if statement

In [ ]:
age = 25

if age >= 18: print("You are eligible for vote")

You are eligible for vote

In [ ]:
text = "Hello Python"
contains_word = True if "Python" in text else False
print(contains_word)

True

In [ ]:
def multiple_of_2(num):
  if(num%2 == 0):
     return "Multiple of two"
  else:
    return "Not a multiple of 2"

num = int(input("Enter a number: "))
print(multiple_of_2(num))

Enter a number: 6
Multiple of two

In [ ]:
score = 65

grade = 'A' if score >= 90 else ('B' if score >= 80 else ('C' if score >= 70 else 'D'))
print(grade)

D

Write a program to take three side lengths and  prints whether the triangle is equilateral, isosceles, or scalene

equilateral means if all three sides are same
isosceles means if two sides are same
scalene means if one side is same

In [ ]:
side1 = int(input("Enter the length of Side one: "))
side2 = int(input("Enter the length of Side two: "))
side3 = int(input("Enter the length of Side three: "))

if side1 == side2 == side3:
  print("Equilateral Triangle")
elif side1 == side2 or side1 == side3 or side2 == side3:
  print("Isosceles Triangle")
else:
  print("Scalene Triangle")

Enter the length of Side one: 2
Enter the length of Side two: 3
Enter the length of Side three: 2
Isosceles Triangle

Write a program that prints "Fizz" if a number is divisible by 3, "Buzz" if divisible by 5, "FizzBuzz" if divisible by both, or the number itself otherwise.

In [ ]:
number = int(input("Enter the length of Side one: "))
if number %3 == 0 and number %5 == 0:
  print("FizzBuzz")
elif number %3 == 0:
  print("Fizz")
elif number %5 == 0:
  print("Buzz")
else:
  print(number)

Enter the length of Side one: 3
Fizz

Write a program that checks if a given string is a palindrome (reads the same backward). -> such as madam or racecar, the date "02/02/2020"

In [ ]:
string = input("Enter a string: ")
if string == string[::-1]:
  print("Palindrome")
else:
  print("Not a Palindrome")

Enter a string: cool
Not a Palindrome

In [ ]:
x = "Hello World"
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [ ]:
number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in number:
  if num % 2 == 0:
    print(f"{num} is even")
  else:
    print(f"{num} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [ ]:
numbers = [10, 50, 40, 30, 5, 15]

## maximum element
max_element = numbers[0]

for num in numbers:
  if num > max_element:
    max_element = num

print("Maximum element in a given list is", max_element)

Maximum element in a given list is 50

range() in dict

In [ ]:
for i in range(6):
  print(i)

else:
  print("Finally finished")

0
1
2
3
4
5
Finally finished

List Comprehension

In [ ]:
## new_list = [expression for item in iterable]
squares = [x ** 2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Generator Expression

In [ ]:
## new_list = [expression for item in iterable]
squares = (x ** 2 for x in range(1, 11))
print(squares)

for square in squares:
  print(square)

<generator object <genexpr> at 0x78b7697c2260>
1
4
9
16
25
36
49
64
81
100

Nested for loop

In [ ]:
for i in range(1, 6):
  for j in range(1, 11):
    print(i*j, end='\t')

  print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50

While Loop in Python

In [ ]:
n = int(input())

sum = 0
i = 2

while i <= n:
  sum += i
  i += 2

## 2 + 4 + 6 + 8 + 10 + 12 + 14 + 16
print(sum)

2
2

Nested while loop

In [ ]:
outer_count = 0

while outer_count < 3:
  print("Outer loop iteration", outer_count)

  inner_count = 0
  while inner_count < 2:
    print("Inner loop iteration", inner_count)
    inner_count += 1

  outer_count += 1

Outer loop iteration 0
Inner loop iteration 0
Inner loop iteration 1
Outer loop iteration 1
Inner loop iteration 0
Inner loop iteration 1
Outer loop iteration 2
Inner loop iteration 0
Inner loop iteration 1

Find the sum of all even numbers from 1 to 100 using a for loop.

In [ ]:
num = int(input())
even = num%2 == 0
sum = 0
for num in range(1, 101):
  if even:
    sum += num
  else:
    print("Numbers are not input in range")

print(sum)

6
5050

Write a program to calculate the factorial of a number using a while loop.

In [ ]:
num = int(input())
fact = 1
while num > 0:
  fact *= num
  num -= 1

print(fact)

5
120