<a href="https://colab.research.google.com/github/ShahnawazKakarh/roadmap-to-data-science/blob/master/python/07_Control_Transfer_Statements_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

break

In [ ]:
for i in range(5):
  print(i)
  if i == 2:
    break

0
1
2

In [ ]:
count = 0
while True:
  print("Inside the while loop")
  count += 1
  if count == 5:
    break

Inside the while loop
Inside the while loop
Inside the while loop
Inside the while loop
Inside the while loop

In [ ]:
count = 0
while True:
  count += 1
  if count > 5:
    break
  print(count)

1
2
3
4
5

continue

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for number in numbers:
  ## it will skip number which is divisble by 2
  if number % 2 == 0:
    continue
  print(number)

1
3
5
7
9

In [ ]:
i = 1
while i < 3:
  j = 0
  while j < 5:
    j = j + 1
    if j == 3:
      continue
    print(j)
  i = i + 1

1
2
4
5
1
2
4
5

In [ ]:
i = 1
while i < 4:
  j = 0
  while j < 5:
    j = j + 1
    if j == 3:
      continue
    print(j, end = " ")
  i = i + 1

1 2 4 5 1 2 4 5 1 2 4 5

pass

In [ ]:
count = 0
while count < 5:
  ## placeholder for writing the future code
  pass

  print(count)
  count = count + 1

0
1
2
3
4

Functions

In [ ]:
## function definition
def greet(name):
  print(f"Hello, {name}")

## function calling
greet("Shahnawaz")

Hello, Shahnawaz

In [ ]:
def myfunction(*learners):
  print("One of the learner in full stack data science course is "+learners[5])

## learners name
myfunction("Shahnawaz", "Ali", "Ahmad", "Sumaira", "Kainat", "Usman")

In [ ]:
def my_function(country="Pakistan"):
  print("I am from "+ country)

my_function("Sweden")
my_function() ## default country = "Pakistan"
my_function("Brazil")
my_function("Norway")

I am from Sweden
I am from Pakistan
I am from Brazil
I am from Norway

In [ ]:
def function(a, b=10, c):
  return a + b - c

result = function(10, 12)
print(result)

SyntaxError: parameter without a default follows parameter with a default (ipython-input-4133844547.py, line 1)

In [ ]:
def function(a, b, c=10):
  return a + b - c

result = function(10, 12)
print(result)

12

In [ ]:
def calculate_result(x , y, w = 1, z = 5):
  return x + y + w + z

result = calculate_result(1, 2, 4)
print(result)

12

In [ ]:
def calculate_result(x , y, w = 1, z = 5):
  return x + y + w + z

result = calculate_result(1, 2, z=4)
print(result)

8

In [ ]:
def my_functions(lst):
  for num in lst:
    print(num)


lst = [2, 3, 4, 5, 6, 1, 8]
my_functions(lst)

2
3
4
5
6
1
8

Create a function "calculate" in which it is having add functionality, subtraction functionality, multiplication and division functionality of two numbers.

In [ ]:
def calculate(num1, num2, operation=""):
  if operation == "add":
    return num1 + num2
  elif operation == "subtract":
    return num1 - num2
  elif operation == "muliply":
    return num1 * num2
  elif operation == "division":
    return num1 / num2
  else:
    print("Wrong Operater")

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
operation = input("Enter operation: ")

result = calculate(num1=num1, num2=num2, operation=operation)
print(result)

Enter first number: 1
Enter second number: 2
Enter operation: add
3

print() and return

In [ ]:
def add_with_print(a, b):
  print("The sum of two numbers is ", a + b)


def add_with_return(a, b):
  return a + b

add_with_print(2, 3)
result = add_with_return(2, 3)
print("The sum of two numbers is ", result)

The sum of two numbers is  5
The sum of two numbers is  5

In [ ]:
## function definition
def is_armstrong(num):
  str_num = str(num)
  num_digits = len(str_num)

  sum_of_powers = sum(int(digit)**num_digits for digit in str_num)
  return sum_of_powers == num

## function calling
result = is_armstrong(150)
print(result)

False

In [ ]:
## function definition
def sum_and_product(num1, num2):
  sum_result = num1 + num2
  product_result = num1 * num2
  return sum_result, product_result

num1 = 6
num2 = 10
sum_result, product_result = sum_and_product(num1, num2)
print(sum_result)
print(product_result)

Nested Functions

In [ ]:
def calculator(x, y):
  def add(a, b):
    return a + b

  def multiply(a, b):
    return a * b

  def calc(op, a, b):
    if op == 'add':
      return add(a, b)

    else:
      return multiply(a, b)

  return calc('add', x, y), calc('multiply', x, y)

result = calculator(2, 3)
print(result)

(5, 6)

Task: **kwargs and *args

In [ ]:
def print_args(*args):
  for arg in args:
    print(arg)
print_args(10, 20, 30)

10
20
30

In [ ]:
## function definition
def function_args(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}: {value}")

## function calling
function_args(name='Shahnawaz', age=26, salary=30000, city="Lahore")

name: Shahnawaz
age: 26
salary: 30000
city: Lahore

Recursive Functions

In [4]:
## function definition
def factorial(num):
  ## base case condition
  if num == 0 or num == 1:
    return 1

  else:
    ## recursive portion
    return num * factorial(num-1)


## function calling
print(factorial(10))

3628800

Lambda Functions: It is an anonymous function, a concise way of defining small, one-line function.

In [5]:
## lambda arguments : expression
add = lambda x, y : x + y
print(add(2, 3))

5

Square of the given num using lamda functions

In [7]:
## lambda arguments : expression
square = lambda num : num ** 2
print(square(2))

4

In [8]:
learner_scores = {
    'Shahnawaz': 88,
    'Usman': 89,
    'Ali':93,
    'Akbar':90
}

## Sort the above dictionary in the ascending order
sorted_values = dict(sorted(learner_scores.items(), key = lambda item : item[1]))
print(sorted_values)

{'Shahnawaz': 88, 'Usman': 89, 'Akbar': 90, 'Ali': 93}

In [9]:
## Sort the above dictionary in the descending order
sorted_values = dict(sorted(learner_scores.items(), key = lambda item : item[1], reverse=True))
print(sorted_values)

{'Ali': 93, 'Akbar': 90, 'Usman': 89, 'Shahnawaz': 88}